@font-face {
   font-family: 'Ubuntu Condensed';
   font-style: regular;
   font-weight: 400;
   src: url('file:///C:/Users/MH/Desktop/ASM%20website/ASM//fonts/Ubuntu Condensed/regular.ttf') format('truetype');
}
